
**/settings/Mainnet.toml
**/settings/Testnet.toml
.cache/**
history.txt

logs
*.log
npm-debug.log*
coverage
*.info
costs-reports.json
node_modules
.env
**/scripts/*.js
**/scenario.js
**/schedule-payment.js
**/execute-payment.js
**/deploy.js
**/event-logger-v2.js
**/deployments/****/scripts/*.ps1
